# Booking Service Configuration

PORT=3001

# Database
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=your_database_password
DB_NAME=booking_db

# JWT
JWT_SECRET=your_jwt_secret_here

# Flight Service
FLIGHT_SERVICE_PATH=http://localhost:3000

# Redis
REDIS_URL=redis://localhost:6379
USE_MOCK_REDIS=false

# Booking
BOOKING_TIMEOUT=300000